[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Screen Orientation Manager
Exec=python /home/archisman/GtkExperiments/ScreenOrientationManager/ScreenOrientationManager.py
Icon=screenrotator
Categories=Utility;
